<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toronto Air Quality</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Roboto+Slab:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <h1>Air Quality in Toronto Now</h1>
    <h3>Air Quality: <%= aqi %></h3>
    <h3>Main Pollutant: <%= mainPollutant %></h3>
    <h3>Date: <%= timeStamp %></h3>
    <div>
        <h2>Air Quality Index Chart</h2>
        <img src="images/aqi-chart.png" alt="Air quality index chart with corresponding PM2.5 μg/m3.">
    </div>
</body>
</html>